@using SDQRealEstate.Core.Application.ViewModels.User
@model string
@{
    ViewData["Title"] = "Confirm";
}

<div 
    class='bg- d-flex flex-row justify-content-center align-items-center' 
    style="width: 100%; min-height: 83.9vh; height: auto"
>
    <!-- Section -->
    <section class="w-50 mx-auto d-flex flex-column justify-content-center align-items-center gap-2 p-2">
        <h2 class="text-right">¡Confirmación de tu Email!</h2>
        <small class='w-75 text-muted text-center'>@Model</small>

        <a class="btn btn-light w-75 my-2" asp-controller="User" asp-action="Index">Inicio Sesión</a>
    </section>

    <!-- Image of Error -->
    <section class="w-75 h-100  p-0 rounded overflow-hidden mx-4">
        <img src='/Images/Predeterminated/changepassword.png' alt='main login image' class='w-100' />
    </section>

</div>