@using SDQRealEstate.Core.Application.ViewModels.User
@model LoginViewModel
@{
    ViewData["Title"] = "Inicio Sesión";
}

<div 
    class='bg- d-flex flex-row justify-content-center align-items-center' 
    style="width: 100%; min-height: 83.9vh; height: auto"
>
    
    <section class="w-50 d-flex flex-column justify-content-center align-items-center gap-2 p-2">
        
        <form method="post" asp-controller="User" asp-action="Index" class='w-75'>
            <h2>Inicio Sesión</h2>
            <small class='w-75 text-muted'> Inicia sesión para poder iniciar el mejor trayecto de busqueda de toda tu vida. </small>

            <hr />

            <div class='w-100'>
                <label asp-for="Email" class='form-label'>Correo</label>
                <input asp-for="Email" class='form-control'/>
            </div>

            <div class='w-100'>
                <label asp-for="Password" class='form-label'>Password</label>
                <input asp-for="Password" class='form-control' type='password'/>
            </div>

            <div class='w-100 d-flex text-dark flex-direction justify-content-between align-items-center mt-3'>
                <button type='submit' class='btn btn-success'>Iniciar sesión</button>
                <a class='nav-link text-muted' asp-controller="User" asp-action="ForgotPassword"> Olvide mi contrasña.</a>
            </div>

            <!-- Errors -->
            @Html.ValidationSummary(false, "", new { @class = "text-purple" })
            @if (Model.HasError)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert"> 
                    <p>@Model.Error</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

        </form>

    </section>

    <section class="w-75 h-100  p-0 rounded overflow-hidden mx-4">
        <img src='images/predeterminated/login.jpg' alt='main login image' class='w-100' />
    </section>

</div>