@using SDQRealEstate.Core.Application.ViewModels.User;
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Recuperar Contraseña";
}

<div 
    class='bg- d-flex flex-row justify-content-center align-items-center' 
    style="width: 100%; min-height: 83.9vh; height: auto"
>
    
    <!-- Image -->
    <section class="w-75 h-100  p-0 rounded overflow-hidden mx-4">
        <img src='/Images/Predeterminated/changepassword.png' alt='main login image' class='w-100' />
    </section>

    <section class="w-50 d-flex flex-column justify-content-center align-items-center gap-2 p-2">
        
        <form method="post" asp-controller="User" asp-action="ResetPassword" class='w-75'>
            <h2>Cambiar Contraseña</h2>
            <small class='w-75 text-muted'> Puede usar este formulario para su contraseña. </small>

            <hr />

            <div class='w-100'>
                <label asp-for="Email" class='form-label'>Correo</label>
                <input asp-for="Email" class='form-control'/>
                <span asp-validation-for="Email" class="text-success"></span>
            </div>

            <div class='w-100'>
                <label asp-for="Password" class='form-label'>Password</label>
                <input asp-for="Password" class='form-control' type='password'/>
                <span asp-validation-for="Password" class="text-success"></span>
            </div>

            <div class='w-100'>
                <label asp-for="ConfirmPassword" class='form-label'>Password</label>
                <input asp-for="ConfirmPassword" class='form-control' type='password'/>
                <span asp-validation-for="ConfirmPassword" class="text-success"></span>
            </div>

            <div class='w-100 d-flex text-dark flex-direction justify-content-between align-items-center mt-3'>
                <button type='submit' class='btn btn-success'>Guardar</button>
                <a asp-controller="User" asp-action="Index" class='nav-link text-muted'>Volver Atrás</a>
            </div>

            <!-- If Error -->
           @if (Model?.HasError != null)
           {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <p>@Model.Error</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
           }

        </form>

    </section>
</div>