@{
    ViewData["Title"] = "Home Page";
    int[] list = new int[] { 1, 2, 3, 4};  
}

<div 
    class=' d-flex flex-column justify-content-evenly align-items-center mx-auto' 
    style="width: 98%; min-height: 84.4vh; height: auto"
>

    <!---->
    <section class="w-100 rounded overflow-hidden mx-5 mt-2">
        <img src='images/predeterminated/main.jpg' alt='main login image' style='width: 100%; height: 25rem; filter: brightness(90%);' />
    </section>

    <!--  -->
    <section class='w-100 d-flex flex-column justify-content-center'>
        
        <!-- Introduction -->
        <h1 class='text-center mt-5'>¡Bienvenido a ExoState!</h1>
        <p class='text-muted text-center mb-5'>La página donde podrás encontrar las mejores ofertas y oportunidades para encontrar un lugar cómodo.</p>
        <hr class='w-25 mx-auto' />

        <section class="w-100 rounded overflow-hidden d-flex flex-row">

        <!-- container  background: rgb(242,242,242) -->
        <div class='w-75 d-flex flex-row p-2 justify-content-evenly flex-wrap align-items-center'>

            <!-- iterator -->
            @foreach(var item in list){
                <section class="card mt-2" style="width: 18rem;">
                    <img class="card-img-top" src="https://dummyimage.com/720x600/edf2f7/a5afbd" alt="Card image cap">
                    <div class="card-body">
                        <section class='mb-2'>
                            <h5 class="card-title mb-0">Proyecto</h5>
                            <p class="card-text">Atlántica, Puerto Plata</p>
                        </section>
                        <section class='mb-2'>
                            <h5 class="card-title mb-0">Código</h5>
                            <p class="card-text">161582</p>
                        </section>
                        <section class='mb-2'>
                            <h5 class="card-title mb-0">Venta</h5>
                            <p class="card-text">US$ - 285,000 - US$ 545,000</p>
                        </section>
                    </div>
                    <hr />
                    <div class="card-body d-flex flex-row justify-content-between align-items-center">
                        <section class='m-0 p-0'>
                            <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="25" height="25"><path d="M14.5 7v8M.5 7v8M0 10.5h15m-15-3h15m-13-2h4m3 0h4M.5 6V.5h14V6" stroke="currentColor"></path></svg> - 
                            0
                        </section>

                        <section class='m-0 p-0'>
                            <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="25" height="25"><path d="M0 7.5h15m-10.5 5h6m-6 0a3 3 0 01-3-3v-6a3 3 0 013-3h2V2m-2 10.5V15m6-2.5a3 3 0 003-3v-2m-3 5V15M5 3.5h3" stroke="currentColor"></path></svg>
                            0
                        </section>

                        <section class='m-0 p-0'>
                            <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="25" height="25"><path d="M10.5 10.5v3a1 1 0 01-1 1h-8a1 1 0 01-1-1v-8a1 1 0 011-1h3m0-3v8a1 1 0 001 1h8a1 1 0 001-1v-8a1 1 0 00-1-1h-8a1 1 0 00-1 1z" stroke="currentColor"></path></svg>
                            0
                        </section>
                    </div>
                </section>
            }

        </div>


        <div class='w-25 border h-100 p-2 rounded bg-success bg-opacity-75' style='display: sticky; top: 0;'>
            <form class='text-white'>
                <h2>Filtros</h2>
                <small class='w-75'>Puede filtrar por los diferentes campos</small>

                <hr />

                <div class='w-100'>
                    <label class='form-label'>Categorías</label>
                    <select class='form-control'>
                        <option value='0'>Seleccione 1 para filtrar</option>
                    </select>
                </div>

                <hr />

                <div class='w-100'>
                    <label class='form-label'>Precios</label>
                    <section class='w-100 d-flex flex-row justify-content-evenly align-items-center'>
                        <input class='form-control w-50 mx-2' />
                        <input class='form-control w-50' /> 
                    </section>
                </div>

                <hr />
                <div class='w-100'>
                    <label class='form-label'>Precios</label>
                    <section class='w-100 d-flex flex-row justify-content-evenly align-items-center'>
                        <select class='form-select'>
                            <option value='0'>Seleccione #1</option>
                            <option value='1'>Habitacion/es</option>
                            <option value='2'>Baño/s</option>
                        </select>
                        <input class='form-control w-50 mx-2' />
                    </section>
                </div>

                <hr />
                <div class='w-100 d-flex text-dark flex-direction justify-content-between align-items-center mt-3'>
                    <button type='submit' class='btn btn-light w-50 mx-auto'>Filtrar</button>
                </div>
            </form>
        </div>

        </section>

   </section>

</div>