@using SDQRealEstate.Core.Application.ViewModels.Propiedad;
@model List<PropiedadViewModel>
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
      @if (Model == null || Model.Count == 0)
        {
            <h2>No tiene propiedades</h2>
        }
</div>
