@using SDQRealEstate.Core.Application.ViewModels.User;
@using SDQRealEstate.Core.Application.Enums;
@model SaveUserViewModel
@{
    ViewData["Title"] = "Actualizar Perfil";
}

<!-- Register  -->
<div 
    class='bg- d-flex flex-row justify-content-center align-items-center' 
    style="width: 100%; min-height: 83.9vh; height: auto"
>
    
    <section class="w-75 d-flex flex-column justify-content-center align-items-center gap-2 p-2">
        
        <form method="post" asp-controller="Agent" asp-action="MiPerfil" enctype="multipart/form-data" class='w-75'>
            
            <!--  -->
            <h2>Mi Perfil</h2>
            <small class='w-75 text-muted'>Mis datos personales:</small>
            <hr />

            <input type="hidden" asp-for="Id" />

            <!--  -->
            <div class="d-flex flex-row flex-wrap w-100 justify-content-between">

                <div class='w-25 mx-1'>
                    <label asp-for="FirstName" class='form-label'>Nombre:</label>
                    <input required asp-for="FirstName" class='form-control'/>
                    <span asp-validation-for="FirstName" class="text-success"></span>
                </div>

                <div class='w-25 mx-1'>
                    <label asp-for="LastName" class='form-label'>Apellido:</label>
                    <input required asp-for="LastName" class='form-control'/>
                    <span asp-validation-for="LastName" class="text-success"></span>
                </div>

                <div class='w-25 mx-1'>
                    <label asp-for="Phone" class='form-label'>Número Teléfonico:</label>
                    <input required asp-for="Phone" class='form-control'/>
                    <span asp-validation-for="Phone" class="text-success"></span>
                </div>

                <div class='w-25 mx-1'>
                    <label asp-for="Username" class='form-label'>Nombre Usuario:</label>
                    <input required asp-for="Username" class='form-control'/>
                    <span asp-validation-for="Username" class="text-success"></span>
                </div>

                <div class='w-25 mx-1'>
                    <label asp-for="File" class='form-label'>Imágen Usuario:</label>
                    <input required asp-for="File" class='form-control'/>
                    <span asp-validation-for="File" class="text-success"></span>
                </div>

                <div class='w-25 mx-1'>
                    <label asp-for="Email" class='form-label'>Correo:</label>
                    <input required asp-for="Email" class='form-control'/>
                    <span asp-validation-for="Email" class="text-success"></span>
                </div>

                <div class="w-25 mx-1">
                    <label asp-for="Tipo" class="form-label">Rol: </label>
                    <input readonly asp-for="Tipo" value="Agente"  class="form-control" />
                    <span asp-validation-for="Tipo" class="text-success"></span>
                </div>

                <div class='w-25 mx-1'>
                    <label asp-for="Password" class='form-label'>Contraseña:</label>
                    <input required asp-for="Password" class='form-control'/>
                </div>

                <div class='w-25 mx-1'>
                    <label asp-for="ConfirmPassword" class='form-label'>Confirmar Contraseña:</label>
                    <input required asp-for="ConfirmPassword" class='form-control'/>
                    <span asp-validation-for="ConfirmPassword" class="text-success"></span>
                </div>

            </div>

            <div class='w-100 d-flex text-dark flex-direction justify-content-between align-items-center mt-3'>
                <button type='submit' class='btn btn-success w-25'>Actualizar</button>
                <a class='nav-link text-muted' asp-controller="Agent" asp-action="Index">Volver</a>
            </div>

            <!-- Errors -->
            @if(Model.HasError  == true){
                <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                    <span asp-validation-for="Password" class="text-success"></span>
                </div>
            }
        </form>
    </section>

    <section class="w-25 h-100  p-0 rounded overflow-hidden mx-4">
        <img src="@Model.Foto" alt='main login image' class='w-100' />
    </section>

</div>