@using SDQRealEstate.Core.Application.ViewModels.Mejoras;
@model SaveMejoraViewModel
@{
    Boolean update = Model.Id != 0 ? true :false;
    ViewData["Title"] = update? "Actualizar":"Crear";
}

<div 
    class='bg- d-flex flex-row justify-content-center align-items-center' 
    style="width: 100%; min-height: 83.9vh; height: auto"
>
    
    <section class="w-50 d-flex flex-column justify-content-center align-items-center gap-2 p-2">
        
        <form method="post" asp-controller="Admin" asp-action=@(update? "EditarMejora" : "CreateMejora") enctype = "multipart/form-data" class='w-75'>
            <h2>@(update? "ACTUALIZAR" : "REGISTRO")</h2>

            <hr />

            <!-- Input out of view -->
            <input type="hidden" asp-for="Id" />

            <div class='w-100'>
                <label asp-for="Name" class='form-label'>Nombre:</label>
                <input required asp-for="Name" class='form-control'/>
                <span asp-validation-for="Name" class="text-success"></span>
            </div>

            <div class='w-100'>
                <label asp-for="Description" class='form-label'>Descripción:</label>
                <input required asp-for="Description" class='form-control'/>
                <span asp-validation-for="Description" class="text-success"></span>
            </div>

            <div class='w-100 d-flex text-dark flex-direction justify-content-between align-items-center mt-3'>
                <button type='submit' class='btn btn-success'> @(update? "Actualizar" : "Guardar")</button>
                <a class='nav-link text-muted' asp-controller="Admin" asp-action="Mejora">Volver</a>
            </div>

        </form>

    </section>

    <section class="w-75 h-100  p-0 rounded overflow-hidden mx-4">
        <img src='/Images/Predeterminated/main_nologin.png' alt='main login image' class='w-100' />
    </section>

</div>