@using SDQRealEstate.Core.Application.ViewModels.TipoVenta;
@model SaveTipoVentaViewModel
@{
    Boolean update = Model.Id != 0 ? true :false;
    ViewData["Title"] = update? "Actualizar":"Crear";
}

<div class="w-100 bg-whitegray d-flex flex-row justify-content-between align-items-center" style="height: 82.4vh">

    <form method="post" asp-controller="Admin" asp-action=@(update? "EditarTipoVenta" : "CreateTipoVenta") enctype = "multipart/form-data" class="w-75 p-2 rounded bg-white mx-auto shadow-sm d-flex flex-row flex-wrap justify-content-evenly align-items-center">
               
        <div class="w-75 d-flex flex-column justify-content-center align-items-center">
            <section class="w-auto p-4 rounded-circle bg-purple text-white d-flex flex-row justify-content-center align-items-center">
                <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="60" height="60"><path d="M10.5 14.49v.5h.5v-.5h-.5zm-10 0H0v.5h.5v-.5zm7-4.996v.5-.5zm-4 0v-.5.5zM8 3.498a2.499 2.499 0 01-2.5 2.498v1C7.433 6.996 9 5.43 9 3.498H8zM5.5 5.996A2.499 2.499 0 013 3.498H2a3.499 3.499 0 003.5 3.498v-1zM3 3.498A2.499 2.499 0 015.5 1V0A3.499 3.499 0 002 3.498h1zM5.5 1A2.5 2.5 0 018 3.498h1A3.499 3.499 0 005.5 0v1zm5 12.99H.5v1h10v-1zm-9.5.5v-1.996H0v1.996h1zm2.5-4.496h4v-1h-4v1zm6.5 2.5v1.996h1v-1.997h-1zm-2.5-2.5a2.5 2.5 0 012.5 2.5h1a3.5 3.5 0 00-3.5-3.5v1zm-6.5 2.5a2.5 2.5 0 012.5-2.5v-1a3.5 3.5 0 00-3.5 3.5h1zM12 5v5h1V5h-1zm-2 3h5V7h-5v1z" fill="currentColor"></path></svg>
            </section>
            <h2>Registro</h2>
        </div>
        <input type="hidden" asp-for="Id" />
        <div class="w-25 mx-1">                
            <label asp-for="Name" class="form-label text-sm-left">Nombre: </label>
            <input required asp-for="Name" class="form-control bg-whitegray" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

         <div class="w-25 mx-1">
            <label asp-for="Description" class="form-label text-sm-left">Descripcion: </label>
            <input required asp-for="Description" class="form-control bg-whitegray" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
              
        <div class="w-100 mx-1 text-center mt-3 mb-2">
            <button type="submit" class="btn btn-purple"> @(update? "Actualizar" : "Guardar") </button>
            <a asp-controller="Admin" asp-action="Ventas" class="btn btn-light">Volver atras</a>
                        
            
        </div>

    </form>
    
</div>