@using SDQRealEstate.Core.Application.ViewModels.User;
@model UserViewModel
@{
    ViewData["Title"] = "Desactivar Desarrollador";
}

<div class="row">

    <div class="col-6 offset-3" >
        <div class="card">
            <div class="card-header bg-primary text-light">
                <h4>¿Está seguro que desea desactivar este Desarrollador @Model.Username y todas sus propiedades?</h4>
            </div>
            <div class="card-body">

                <form method="post" asp-controller="Admin" asp-action="DesactivarDesarrollador">
                
                    <input type="hidden" asp-for="Id" />

                    <div class="text-center">
                    <button type="submit" class="btn btn-danger">Desactivar</button>
                    <a asp-controller="Admin" asp-action="Desarrolladores" class="btn btn-secondary ">Cancelar</a>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>

