@using SDQRealEstate.Core.Application.ViewModels.TipoVenta;
@model SaveTipoVentaViewModel
@{
    ViewData["Title"] = "Eliminar Tipo Venta";
}

<div 
    class='bg- d-flex flex-row justify-content-center align-items-center' 
    style="width: 100%; min-height: 83.9vh; height: auto"
>

    <!-- Image of Error -->
    <section class="w-75 h-100  p-0 rounded overflow-hidden mx-4">
        <img src='/Images/Predeterminated/error.png' alt='main login image' class='w-100' />
    </section>

    <!-- Section -->
    <section class="w-50 mx-auto d-flex flex-column justify-content-center align-items-center gap-2 p-2">
        <h2 class="">¡Espera!</h2>
        <small class='w-75 text-muted text-center'>¿Está seguro que desea eliminar el tipo de venta @Model.Name?</small>

        <form method="post" asp-controller="Admin" asp-action="EliminarTipoVenta" class="w-100 mt-3">
                
            <input type="hidden" asp-for="Id" />

            <div class="text-center w-100">
                <button type="submit" class="btn btn-light w-25">Eliminar</button>
                <a asp-controller="Admin" asp-action="Ventas" class="btn btn-success w-25">Cancelar</a>
            </div>
        </form>
    </section>

</div>

